<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.le.tourism.authority.mapper.OrgAdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.le.tourism.authority.pojo.entity.OrgAdmin">
        <id column="id" property="id"/>
        <result column="org_id" property="orgId" />
        <result column="admin_id" property="adminId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_id, admin_id
    </sql>

</mapper>
