<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.le.tourism.mp.mapper.UserMpInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.le.tourism.mp.pojo.entity.UserMpInfo">
        <id column="id" property="id" />
        <result column="staff_id" property="staffId" />
        <result column="openid" property="openid" />
        <result column="token" property="token" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="edit_time" property="editTime" />
        <result column="create_user" property="createUser" />
        <result column="edit_user" property="editUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, staff_id, openid, token, status, create_time, edit_time, create_user, edit_user
    </sql>

    <select id="selectByOpenId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user_mp_info
        WHERE openid = #{openId} AND token IS NOT NULL
    </select>
</mapper>
