<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.le.tourism.mp.mapper.WechatTokenInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.le.tourism.mp.pojo.entity.WechatTokenInfo">
        <id column="token_id" property="tokenId" />
        <result column="app_id" property="appId" />
        <result column="access_token" property="accessToken" />
        <result column="refresh_token" property="refreshToken" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        token_id, app_id, access_token, refresh_token, create_time
    </sql>

    <select id="selectByAppId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM wechat_token_info WHERE
        app_id = #{appId}
    </select>

</mapper>
